<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">
    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Raleway:300" rel="stylesheet">
    <!-- My CSS -->
    <link rel="stylesheet" href="../static/css/styles.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">
    <title>oncobot</title>
  </head>

  <body>
    <header>
      <!-- Navbar -->
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#"><strong>onco</strong>bot</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Dropdown
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="cover.html">coverpage</a>
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled" href="#">Disabled</a>
            </li>
          </ul>
          <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Search</button>
          </form>
        </div>
      </nav>
      <!-- <header> -->
      <!-- Jumbotron -->
      <!-- <div class="jumbotron jumbotron-fluid" style="background-image: url('../static/img/Mammary_analogue_secretory_carcinoma_(H&E,_high_power)-orig.jpg'); text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);"> -->
      <div class="jumbotron jumbotron-fluid" style="background-image: url('../static/img/Secretory_phase_endometrium.jpg'); text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .3);">
        <div class="container">
          <h1 class="display-4"><strong>onco</strong>bot</h1>
          <p class="lead">A second set of eyes for analyzing histological samples.</p>
        </div>
      </div>
      <!-- <div class="caption">
        <em>By <a href="//commons.wikimedia.org/w/index.php?title=User:NormanDy&amp;action=edit&amp;redlink=1" class="new" title="User:NormanDy (page does not exist)">NormanDy</a> - <span class="int-own-work" lang="en">Own work</span>, <a href="https://creativecommons.org/licenses/by-sa/4.0" title="Creative Commons Attribution-Share Alike 4.0">CC BY-SA 4.0</a>, <a href="https://commons.wikimedia.org/w/index.php?curid=44757092">Link</a></em>
      </div> -->
    </header>

      <!-- <div class="container">
        <div class=”banner”>
         <h1>Title</h1>
        </div> -->
        <!-- <img src="https://upload.wikimedia.org/wikipedia/commons/9/95/Nested_variant_of_urothelial_carcinoma_-_high_mag.jpg"> -->
        <!-- <img src="https://upload.wikimedia.org/wikipedia/commons/1/1c/Normal_gastric_mucosa_intermed_mag.jpg" alt="Histological sample of normal gastric mucosa" > -->
      </div>

    <main>
      <div class="container">
        <h2>Upload new File</h2>
        <form method=post enctype=multipart/form-data>
          <p><input type=file name=file>
             <input type=submit value=Upload>
        </form>
      </div>
      <div class="container">
        <hr>
        <div class="row">
          <div class="col">
            <div class="card" style="width: 18rem;">
              <img class="card-img-top" src="../static/img/Normal_gastric_mucosa_low_mag1.jpg" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">Intermediate magnification micrograph of normal gastric mucosa, i.e. inner most layer of the stomach. H&E stain.</h5>
                <p class="card-text">By <a href="//commons.wikimedia.org/wiki/User:Nephron" title="User:Nephron">Nephron</a> - <span class="int-own-work" lang="en">Own work</span>, <a href="https://creativecommons.org/licenses/by-sa/3.0" title="Creative Commons Attribution-Share Alike 3.0">CC BY-SA 3.0</a>, <a href="https://commons.wikimedia.org/w/index.php?curid=10890698">Link</a></p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card" style="width: 18rem;">
              <img class="card-img-top" src="../static/img/Auer_Rods_in_Leukemic_Blast.jpg" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">This patient has apparent recurrence of treated acute myeloid leukemia after 7-year remission. Wright stain, 1000X.</h5>
                <p class="card-text">By <a rel="nofollow" class="external text" href="https://www.flickr.com/people/78147607@N00">Ed Uthman</a> from Houston, TX, USA - <a rel="nofollow" class="external text" href="https://www.flickr.com/photos/euthman/2434847298/">Auer Rods in Leukemic Blast</a>Uploaded by <a href="//commons.wikimedia.org/wiki/User:CFCF" title="User:CFCF">CFCF</a>, <a href="https://creativecommons.org/licenses/by/2.0" title="Creative Commons Attribution 2.0">CC BY 2.0</a>, <a href="https://commons.wikimedia.org/w/index.php?curid=30103850">Link</a></p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
              </div>
            </div>
          </div>
        <!-- <div class="container"> -->
          <div class="col">
            <div class="card" style="width: 18rem;">
              <img class="card-img-top" src="https://upload.wikimedia.org/wikipedia/commons/9/95/Nested_variant_of_urothelial_carcinoma_-_high_mag.jpg" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">High magnification micrograph of nested variant of urothelial carcinoma, also nested urothelial carcinoma and nested variant of urothelial cell carcinoma. H&E stain.</h5>
                <p class="card-text">By <a href="//commons.wikimedia.org/wiki/User:Nephron" title="User:Nephron">Nephron</a> - <span class="int-own-work" lang="en">Own work</span>, <a href="https://creativecommons.org/licenses/by-sa/3.0" title="Creative Commons Attribution-Share Alike 3.0">CC BY-SA 3.0</a>, <a href="https://commons.wikimedia.org/w/index.php?curid=17650699">Link</a></p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>

    <div class="container">
      <hr>
      <footer class="mastfoot mt-auto">
        <div class="inner">
          <p>Header image by <a href="//commons.wikimedia.org/wiki/User:KGH" title="User:KGH">KGH</a>, <a href="http://creativecommons.org/licenses/by-sa/3.0/" title="Creative Commons Attribution-Share Alike 3.0">CC BY-SA 3.0</a>, <a href="https://commons.wikimedia.org/w/index.php?curid=444703">Link</a></p>
        </div>
      </footer>
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js" integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em" crossorigin="anonymous"></script>
  </body>
</html>
